*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.caja{
    display: grid;
    grid-template-columns: 500px 250px 500px;
    grid-template-rows: 300px 300px 300px;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.a{
    background-color: yellowgreen;
}
.b{
    background-color: orange;
}
.c{
    background-color: orangered;
}
.d{
    background-color: red;
}
.e{
    background-color: blue;
}
.f{
    background-color: yellow;
}